// importante variáveis
@import './variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: $light-gray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.img-responsive{
  max-width: 100%;
}

// cores de texto baseadas na paleta
.text{
  &-primary{
      color: $primary;
  }
  &-secondary{
      color: $secondary;
  }
  &-white{
      color: white;
  }
}

// cores de texto baseadas na paleta
.bg{
  &-primary{
    background-color: $primary;
  }
  &-secondary{
    background-color: $secondary;
  }
  &-white{
    background-color: white;
  }
  &-primary-secondary{
    background: linear-gradient(32deg, rgba(255,0,102,1) 0%, rgba(133,77,99,1) 24%, rgba(133,77,99,1) 64%, rgba(255,0,102,1) 100%);
  }
}
.pagnation-custom{
  background-color: #ffffff;
  border-radius: 30px;
  border: 2px solid $secondary;
  outline: none;
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link, .ant-select:not(.ant-select-customize-input) .ant-select-selector,.ant-pagination-item{
    &-active{
      border-color: $primary;
      color: $primary;
      a{
        color: $primary;
      }
    }
    &:hover{
      border-color: $primary;
      color: $primary;
    }
    a{
      &:hover{
        color: $primary;
      }
    }
  }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}

.animeInfos{
  margin-top: 1.36rem;
}

.content-cards{
  padding: 1rem 0;
  overflow: hidden;
}

.anime-post{
  background-color: #ffe5ef;
  max-width: 280px;
  margin: 1rem;
}
#singleAnimeContent{
  margin-top: 2rem;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.title {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
